fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pandas
joblib
scikit-learn
python-dotenv
alembic
python-multipart
xgboost
lightgbm
pytest
httpx
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
pydantic