<nav>
  <h1><a href="/">FDIS</a></h1>

  <ul id="navLinks">
    <li><a href="/static/dashboard.html">Dashboard</a></li>
    <li><a href="/static/transactions.html">History</a></li>
    <li id="userNav"><a href="/static/login.html">Login</a></li>
  </ul>
</nav>

<script>
  window.addEventListener("scroll", () => {
    const nav = document.querySelector("nav");
    if (!nav) return;

    if (window.scrollY > 10) {
      nav.style.padding = "0.5rem 1rem";
      nav.style.background = "rgba(0, 0, 0, 0.9)";
    } else {
      nav.style.padding = "0.8rem 1rem";
      nav.style.background = "rgba(0, 0, 0, 0.75)";
    }
  });
</script>
