<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      <label for="step">Step</label>
      <input type="text" name="step" value="1" />
      <br />
      <label for="type">Type</label>
      <input type="text" name="type" value="PAYMENT" />
      <br />
      <label for="amount">Amount</label>
      <input type="text" name="amount" value="9839.64" />
      <br />
      <label for="oldBalanceOrig">Old Balance Original</label>
      <input type="text" name="oldBalanceOrig" value="170136" />
      <br />
      <label for="newBalanceOrig">New Balance Original</label>
      <input type="text" name="newBalanceOrig" value="160296.36" />
      <br />
      <label for="oldBalanceDest">Old Balance Destination</label>
      <input type="text" name="oldBalanceDest" value="0" />
      <br />
      <label for="newBalanceDest">New Balance Destination</label>
      <input type="text" name="newBalanceDest" value="0" />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
